/InterviewerBot/administrator/__pycache__
/InterviewerBot/administrator/migrations/__pycache__
/InterviewerBot/InterviewerBot/__pycache__
/InterviewerBot/user/__pycache__
/InterviewerBot/user/migrations/__pycache__
*.pyc
*.ttf
*.jpg
*.png
InterviewBot/media/Doe_John_resume.pdf
InterviewBot/media/Test_Test_resume.pdf
