@font-face { font-family: Gotham; src: url("../../fonts/GothamLight.8566e2336952.ttf"); font-weight: normal;} 
@font-face { font-family: GothamBook; src: url("../../fonts/GothamBook.b54724f54d4d.ttf"); font-weight: normal;} 
@font-face { font-family: GothamBold; src: url("../../fonts/GothamBold.db33e70bc9de.ttf"); font-weight: normal;} 
@font-face { font-family: GothamMedium; src: url("../../fonts/GothamMedium.77171d8f5b52.ttf"); font-weight: normal;} 

html, body {
    font-family: 'GothamBook';
    background-image: url("/static/images/white_bg.8e7d7dd60d31.jpg");
    background-size: cover;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

button {
    cursor: pointer;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

i,
span {
    display: inline-block;
}

h1 {
    font-family: 'GothamBold';
    margin-top: 20%;
    width: 60%;
    opacity: 80%;
}

h2 {
    font-family: 'GothamBold';
    margin-top: 3%;
    margin-left: 5%;
    color: #FFF;
}

hr {
    margin-top: -1%;
    border-color: black; 
    width: 100%;  
    float: left;
}

::-webkit-scrollbar {
    display: none;
}

/* ---------------------------------------------------
    SWEET ALERT     source: https://sweetalert.js.org/docs/
----------------------------------------------------- */

.swal-modal {
  border: 3px solid black;
}

.swal-title {
    font-family: GothamBold;
}

.swal-text {
    font-family: GothamBook;
    color: black;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    min-width: 25%;
    max-width: 25%;
    background: white;
    color: black;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: 933633;
    border-color: brown;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: black;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

#paginate-align{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: right;
    margin-bottom: 30px;
    margin-left: 12%;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: white;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul li a {
    padding: 20px;
    display: block;
}

#sidebar ul li a:hover {
    color: black;
    background: lightgrey;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a {
    color: white;
    background: #933633;
}

a[aria-expanded="true"] {
    background-color: lightgrey;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: white;
}

.jobCreate{
    color: #ffffff;
    text-decoration: none;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #ffcc00;
    border: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    transition: 0.3s;
}

.jobCreate:hover,
.jobCreate:focus{
    background-color: #933633;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.selectFilter {
    width: 80%;
    margin-left: 5%;
    margin-bottom: -1%;
}

#content-header{
    padding-left: 0.981%;
    padding-right: 13px;
}

.content-container{
    width: 75%;
    min-height: 100%;
    margin-left: 25%;
    float: right;
}

.topBorder{
    width: 100%;
    border-top: 10px solid #2b353b;
}

.addAdmin, .addStaff {
    text-align: left;
    margin-left: 30px;
    color: #933633;
    font-weight: bold;
    transition: 0.1s;
}

.addAdmin:hover, .addStaff:hover {
    color: #CD0000;
    bottom: 0;
}

.red-header{
    width: 100%;
    height: 130px;
    background-color: #933633;
    float: right;
    margin-bottom: 20px;
}

.content-form{
    padding: 10px;
    margin-left: 70px;
}

.column-form{
    width: 80%;
    border-radius: 15px;
}

.column-status{
    margin: 20px;
}

.column-form header{
    width: 100%;
    background-color: #2b353b;
    padding: 5px;
    border-radius: 15px 15px 0 0;
    color: #ffffff;
    border-radius: 15px 15px 0 0;
}

.column-form a{
    float: right;
    margin-right: 25px;
    opacity: 50%;
}

.column-form a:hover{
    opacity: 100%;
}

.column-form textarea{
    width: 100%;
    min-height: 150px;
    max-height: 150px;
    resize: none;
    border: none;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2b353b;
    color: #ffffff;
    text-align: right;
    font-size: 0.9em;
    z-index: -1;
}

.citButton {
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    min-width:20%;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    background-color: #8C383E;
    position: relative;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.citButton:hover{
    background-color: #781B1B;
}

.btn-secondary {
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
     min-width:20%;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    position: relative;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.btnClose {
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    min-width:20%;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    background-color: darkgray;
    position: relative;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.btnClose:hover{
    background-color: gray;
}

#viewModal{
    width: 100%;
}

/*CREATE JOB CSS*/
.jobCreateModal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
}

.createJob-content{
    background-color: #fefefe;
    margin: 2% auto; /* 15% from the top and centered */
    /*padding: 20px;*/
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 15px;
}

.close{
    color: #aaa;
    margin-right: 10px;
    right: 0;
    /*margin-right: 140px;*/
    font-size: 28px;
    font-weight: bold;
    /*position: absolute;*/
}

.close:hover,
.close:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.containerColor{
    background-color: #DEDEDE;
    border-radius: 15px;
}

.modalHeader{
    background-color: #ffcc00;
    height: 110px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    padding: 20px;
}

.imgNotepad{
    width: 50px;
}

.note {
    color: red;
    float: right;
    margin-right: 15%;
}

.questionTitle{
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
}

.btnPost{
    background-color: #933633;
    width: 100px;
    height: 35px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    float: right;
    margin-top: 16px;
    margin-right: 5px;
    transition: 0.2s;
}

.btnPost:hover{
    background-color: #A00000;
}

.imgEllipsis{
    width: 20px;
    float: right;
    margin-top: 25px;
    margin-right: 5px;
    opacity: 50%;
    transition: 0.2s;
}

.imgEllipsis:hover{
    opacity: 100%;
}

.imgProfile{
    width: 70px;
    float: right;
}


.tab-content header{
    height: 20px;
}

.tab-content footer{
    height: 5px;
}

.questionsContainer{
    background-color: #ffffff;
}

.questionnaireTitle{
    width: 80%;
    height: 195px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    border-top: 5px solid #933633;
}

.questionnaireTitle select{
    padding: 8px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    border-color: #ccc;
}

.questionnaireTitle select, textarea{
    float: left;
    width: 100%;
}

#id-title{
    font-weight: bold;
    padding: 5px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid #000000;
    width: 100%;
    float: left;
}

#id-description{
    border-style: none;
}

textarea{
    border: none;
    outline: none;
    resize: none;
    line-height: 2ch;
    background-image: linear-gradient(transparent, transparent calc(2ch - 1px), #DEDEDE 0px);
    background-size: 100% 2ch;
}

.questionContainer{
    padding-top: 5px;
}

.container{
    margin-left: 30px;
    margin-top: 2%;
}

.tab-modal:hover,
.tab-modal.active{
    color: #ffffff;
    border-bottom: 3px solid #933633;
}

/* Top of tab questions (project-tab) */
.contentQuestion{
    text-align: left;
    width: 80%;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    border-left: 5px solid #933633;
}

.contentQuestion input[type=text]{
    float: left;
    width: 100%;
    border: none;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 2%;
}

.contentQuestion input[type=number]{
    float: left;
    width: 6%;
    border: none;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    margin-top: 1%;
    margin-right: 2%;
}

.contentQuestion label {
    float: left;
    margin-top: 2%;
    margin-left: 1%;
}

.input_fields_wrap button{
    margin: 5px;
    padding: 5px;
    border: none;
    background-color: grey;
    opacity: 50%;
    border-radius: 8px;
    color: #ffffff;
}

.input_fields_wrap button:hover{
    opacity: 100%;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab a {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab a:hover {
  background-color: #ddd;
}

.tab a.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tabs a {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tabs a:hover {
  background-color: #ddd;
}

.tabs a.active {
  background-color: #ccc;
}

#question {
    font-weight: bold;
    text-align: left;
    color: #808080;
    font-size: 16px;
}

.questionLabel {
    font-weight: bold;
    margin-bottom: -0.5%;
}

/* Question contents */
.tabcontents {
  display: none;
  padding: 6px 12px;
  border-top: none;
  height: 80%;
}

/* Adjust height of the tabs here */
.project-tab {
    padding-left: 10%;
    padding-right: 10%;
}

.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #933633;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #933633;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}