{% load static %}
{% block headerinclude %}

    <title>Password Reset</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static '/css/password_reset.css' %}">
    
{% endblock headerinclude %}

{% block content %}

  {% load crispy_forms_tags %}  

  <div class="container-paginate p-5" style="margin-bottom: -5%; margin-left: 25%;">
    <img src="{% static '/images/paginate1_reset.png' %}" style="width: 95%;">
    <div class="row">
      <div class="col-sm-4">
        <h4 class="paginate_1" style="font-weight: bolder;">STEP 01</h4>
        <h6 class="paginate_1">Enter<br>Email Address</h6>
      </div>
      <div class="col-sm-4">
        <h4 class="not_paginate_2" style="font-weight: bolder;">STEP 02</h4>
        <h6 class="not_paginate_2">Request Sent<br>via Email</h6>
      </div>
      <div class="col-sm-4">
        <h4 class="not-paginate_3" style="font-weight: bolder;">STEP 03</h4>
        <h6 class="not-paginate_3">Set<br>New Password</h6>
      </div>
    </div><br>
  </div>

	<!--Reset Password-->
	<div class="container p-5">
    <div class="innerDiv">
    
      <h2 class="font-weight-bold mt-3">Reset Password</h2>
  		<hr>
  		<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
          <form method="POST">
              {% csrf_token %}
              {{ password_reset_form|crispy }}
              {% for message in messages %}
                <div class="alert" role="alert" style="color: red; font-size: 13px; margin-top: -4%; margin-left: -2%;">
                    {{ message }}
                </div>
              {% endfor %}
              <center>
              <button class="btn btn-primary" type="submit">Send email</button><br><br>
              <a href="{% url 'user:login_view' %}">Back to Login</a>
              </center>
          </form>
  	</div>
  </div>

{% endblock %}