@font-face { font-family: Gotham; src: url("../../fonts/GothamLight.8566e2336952.ttf"); font-weight: normal;} 
@font-face { font-family: GothamBook; src: url("../../fonts/GothamBook.b54724f54d4d.ttf"); font-weight: normal;} 
@font-face { font-family: GothamBold; src: url("../../fonts/GothamBold.db33e70bc9de.ttf"); font-weight: normal;} 
@font-face { font-family: GothamMedium; src: url("../../fonts/GothamMedium.77171d8f5b52.ttf"); font-weight: normal;} 

body {
    font-family: 'GothamBook';
    background-image: url("/static/images/red_bg.34822dd85e7c.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    cursor: pointer;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

i,
span {
    display: inline-block;
}

h1 {
    font-family: 'GothamBold';
    color: white; 
    font-size: 48px; 
    position: relative;
    margin-right: 50%;
    margin-top: 5%;
}

h3{
    font-family: 'GothamBook';
}

hr {
    border-color: white; 
    width: 100%; 
    float: left;
}

.profilePic {
    height:170px;
    width:auto; /*maintain aspect ratio*/
    max-width:500px;
}

.image-upload>input {
    display: none;
    width: 0;
    height: 0;
}

#update{
    position: relative;
    right: 30%;
    border-radius: 100px;
    padding: 10px; 
    border: none;
}

/* Remove arrows for NumberInput */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#lastname, #phone, #email, #password, #firstname{
    border-radius: 15px;
    border: none;
    outline: none;
}

#toggle{
    position: absolute;
    top: 38%;
    right: -7%;
    transform: translateY(85%);
    width: 30px;
    height: 30px;
    background: url("/static/images/show.7786545d990d.png");
    background-size: cover;
    cursor: pointer;
}

#toggle.hide{
    background: url("/static/images/hide.0ad488b30e06.png");
    background-size: cover;
}

input:focus{
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    min-width: 25%;
    max-width: 25%;
    background: white;
    color: black;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

/*#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}*/

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: white;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul li a {
    padding: 20px;
    display: block;
}

#sidebar ul li a:hover {
    color: black;
    background: lightgrey;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a {
    color: white;
    background: #933633;
}

a[aria-expanded="true"] {
    background-color: lightgrey;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: white;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    margin-left: 26%;
    min-height: 100vh;
    transition: all 0.3s;
}
#informations{
    margin: 10%;
    display: flex;
    justify-content: center;
}

.row {
    margin-left: 10px;
}
