@font-face { font-family: GothamBook; src: url('../fonts/GothamBook.ttf'); font-weight: normal;} 

body {
    font-family: 'GothamBook';
    background-color: #d3d3d3;
}

button {
	width: 100%;
}

.paginate_1 {
	text-align: center; 
	margin-left: -2%; 
	color: #2a00ff;
}

.paginate_2 {
	text-align: center; 
	margin-left: -30%; 
	color: #2a00ff;
}

.paginate_3 {
	text-align: center; 
	margin-left: -65%; 
	color: #2a00ff;
}

.not_paginate_1 {
	text-align: center;
	margin-left: -2%;
	color: #787878;
}

.not_paginate_2 {
	text-align: center;
	margin-left: -30%;
	color: #787878;
}

.not-paginate_3 {
	text-align: center;
	margin-left: -65%;
	color: #787878;
}

.container-paginate {
	width: 50%;
	background-color: inherit;
}

.container-done {
	width: 50%;
	margin-top: 10%;
	border: solid;
	background-color: white;
}

.container {
	width: 50%;
	margin-top: 2%;
	border: solid;
	background-color: white;
}

.innerDiv {
	background: center;
}