{% load static %}
{% block headerinclude %}

    <title>Password Reset Sent</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
    
{% endblock headerinclude %}

{% block content %}
  <div class="container-paginate p-5" style="margin-bottom: -5%; margin-left: 25%;">
    <img src="{% static 'images/paginate2_reset.PNG' %}" style="width: 95%;">
    <div class="row">
      <div class="col-sm-4">
        <h4 class="not_paginate_1" style="font-weight: bolder;">STEP 01</h4>
        <h6 class="not_paginate_1">Enter<br>Email Address</h6>
      </div>
      <div class="col-sm-4">
        <h4 class="paginate_2" style="font-weight: bolder;">STEP 02</h4>
        <h6 class="paginate_2">Request Sent<br>via Email</h6>
      </div>
      <div class="col-sm-4">
        <h4 class="not-paginate_3" style="font-weight: bolder;">STEP 03</h4>
        <h6 class="not-paginate_3">Set<br>New Password</h6>
      </div>
    </div><br>
  </div>

	<!--Password reset sent-->
	<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">Password reset sent</h2>
		<hr>
		<p>We've emailed you instructions for setting your new password, if an account exists with the email you entered. You should receive them shortly.<br><br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
  </div>

{% endblock %}