{% load static %}
{% block headerinclude %}

    <title>Enter New Password</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
    
{% endblock headerinclude %}

{% block content %} 
  
  <!--Password Reset Complete-->
<center>
    <div class="container-done p-4">
	    <h2 class="font-weight-bold mt-3">Password reset complete</h2>
		<hr>
        <p>Your password has been set. You may go ahead and log in now.</p><br>                 
        <a href="/" class="btn btn-primary" style="float: right;">Log in</a>
        <br><br>
    </div>
</center>

{% endblock %}