{% load static %}
{% block headerinclude %}

    <title>Enter New Password</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
    
{% endblock headerinclude %}

{% block content %}

  {% load crispy_forms_tags %}

  <div class="container-paginate p-5" style="margin-bottom: -5%; margin-left: 25%;">
    <img src="{% static 'images/paginate3_reset.png' %}" style="width: 95%;">
    <div class="row">
      <div class="col-sm-4">
        <h4 class="not_paginate_1" style="font-weight: bolder;">STEP 01</h4>
        <h6 class="not_paginate_1">Enter<br>Email Address</h6>
      </div>
      <div class="col-sm-4">
        <h4 class="not_paginate_2" style="font-weight: bolder;">STEP 02</h4>
        <h6 class="not_paginate_2">Request Sent<br>via Email</h6>
      </div>
      <div class="col-sm-4">
        <h4 class="paginate_3" style="font-weight: bolder;">STEP 03</h4>
        <h6 class="paginate_3">Set<br>New Password</h6>
      </div>
    </div><br>
  </div> 
  
  <!--Password Reset Confirm-->
    <div class="container p-5" style="margin-left: 24%;">
	    <h2 class="font-weight-bold mt-3">Enter your New Password </h2>
		<hr>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}                    
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
    </div>

{% endblock %}