@font-face { font-family: Gotham; src: url('../fonts/GothamLight.ttf'); font-weight: normal;} 
@font-face { font-family: GothamBook; src: url('../fonts/GothamBook.ttf'); font-weight: normal;} 
@font-face { font-family: GothamBold; src: url('../fonts/GothamBold.ttf'); font-weight: normal;} 
@font-face { font-family: GothamMedium; src: url('../fonts/GothamMedium.ttf'); font-weight: normal;} 

body {
    font-family: 'GothamBook';
    background-image: url('/static/images/white_bg.jpg');
    background-size: cover;
}
hr {
	height: 1px;
	width: 100%;
	border: none;
	background-color: black;
}

input[type=button] {
	cursor: pointer;
}

h1{
	color: #781B1B;
	font-family: 'GothamBold';
}

h3{
    font-family: 'GothamBook';
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgrey;
}

input:focus{
    outline: none;
}

.logout {
	width: 55%;
	overflow: hidden;
	margin: auto;
	padding: 50px;
}

.logo {
	position: relative;
	margin:auto;
}

input {
	text-align: center;
}
a {
	text-align: center;
}

.invalid {
	font-size: 54px; 
	margin-top: -7%;
}

.success {
	font-size: 48px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.logout { font-size: 14px; width: 100%; margin-top: 5%; }
	.invalid { font-size: 30px; }
	.success { font-size: 30px; }
	p { font-size: 14px; }
	h1 { font-size: 20px; }
	h3 { font-size: 16px; }
	h5 { font-size: 14px; }
	img { width: 75%; }
}